:root  > * {
  --md-primary-fg-color:         #A61200;
  --md-primary-fg-color--light:  #A61200;
  --md-primary-fg-color--dark:   #A61200;
  --md-accent-fg-color:          #D3506F;
  --md-footer-bg-color:          #2C2C2C;
  --md-footer-bg-color--dark:    #2C2C2C;
}

/* Heading overrides as the default ones are very small */
.md-typeset {
  h4 {
    font-size: 0.95rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.7rem;
  }
}

.register-map {
  margin: 2em 0;
  max-width: 60em;
  border-collapse: collapse;

  th[scope="col"] { width: 25%; }
  td, th {
    text-align: center;
    vertical-align: middle;
    padding: .3em .5em;
    font-weight: normal;
  }
  td {
    border: 1px solid;
  }
  td.reg-unused {
    border: none;
    opacity: 0.5;
    background: grey;
  }
}
